*{
    margin: 0;
    padding: 0;
}
h1{margin-top: 90px;
    text-align: center;
}
body{
    padding: 50px 100px;
}
.container{
    align-items: center;
    text-align: center;
    background-color: rgb(241, 236, 227);
    padding: 50px;
}
.cel, .fah{
    display: inline-block;
    margin: 25px;
    size: 100px;
}
input{
    padding: 10px;
    font-size: larger;
    height: 25px;
    width: 200px;
    margin: 10px;;
}
label{
    font-size: 25px;
}